# Conexão com Windows Authentication
## CONNECTION_STRING=Server=(localDb)\MSSQLLocalDb;Database=ServSegFacilities;Trusted_Connection=True;TrustServerCertificate=true;

# Configuração de chave JWT
# Chave precisa ter pelo menos 32 caracteres
## JWT_KEY=minha_chave_secreta_32chars_okkk